.awards {
  display: flex;
  overflow: hidden;
  width: 100%;
  .award {
    position: relative;
    flex: 1;
    height: 538px;
    background-position: center;
    background-size: cover;
    color: $white;
    cursor: pointer;
    transition: flex 0.5s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.3s;

    // hover 效果 start
    background-color: rgba($primary, 0.8);
    background-blend-mode: soft-light;
    // end
    @include flex(start, end);
    // hover 效果 start
    &:hover {
      flex: 3;
      background-color: transparent;
      background-blend-mode: normal
    }
    // end
    &-mask {
      background-color: rgba($primary, 0.8);

      background-blend-mode: soft-light;
    }
    &-open {
      flex: 2;
    }
    &-img-0 {
      background-image: url('../image/award_01.jpg');
    }
    &-img-1 {
      background-image: url('../image/award_02.jpg');
    }
    &-img-2 {
      background-image: url('../image/award_03.jpg');
    }
    &-img-3 {
      background-image: url('../image/award_04.jpg');
    }
    &-img-4 {
      background-image: url('../image/award_05.jpg');
    }
    p {
      overflow: hidden;
      margin: 30px;
      max-height: 70px;
      text-overflow: ellipsis;
      font-weight: bold;
      font-size: 18px;
    }
    &-content {
      padding: 12px;
      background-color: $white;
      color: $black;
    }
  }
}
