.awards {
  width: 100%;
  display: flex;
  overflow: hidden;
  .award {
    flex: 1;
    @include flex(start, end);
    height: 538px;
    position: relative;
    color: $white;
    background-size: cover;
    background-position: center;
    transition: flex 0.5s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.3s;
    cursor: pointer;
    &-mask {
      background-color: rgba($primary, 0.8);
      background-blend-mode: soft-light;
    }
    &-open {
      flex: 2;
    }
    &-img-0 {
      background-image: url('../image/award_01.jpg');
    }
    &-img-1 {
      background-image: url('../image/award_02.jpg');
    }
    &-img-2 {
      background-image: url('../image/award_03.png');
    }
    &-img-3 {
      background-image: url('../image/award_04.jpg');
    }
    &-img-4 {
      background-image: url('../image/award_05.jpg');
    }
    p {
      max-height: 70px;
      margin: 30px;
      font-size: 18px;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-content {
      padding: 12px;
      color: $black;
      background-color: $white;
    }
  }
}
