.event-wrap {
  // background: url('../image/watermark.png') 110% -70% no-repeat;
  .event {
    display: flex;
    margin: 0 auto;
    padding: 75px 20px;
    width: min(100%, 1400px);
    &-more {
      flex-direction: column;
      margin-right: 35px;

      @include flex(space-between, start);
      &_title {
        color: $black;
        font-weight: bold;
        font-size: 30px;
        span {
          color: $primary;
        }
      }
      &_small {
        font-size: 18px;
      }
      &_button {
        padding-right: 45px;
        padding-left: 45px;
        white-space: nowrap;
      }
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      &_item {
        position: relative;
        display: flex;
        width: calc((100% - 96px) / 2);
        &:nth-child(odd) {
          margin-right: 96px;
        }
        &:nth-child(1),
        &:nth-child(2) {
          margin-bottom: 36px;
        }
        img {
          position: absolute;
          top: 50%;
          left: -24px;
          display: none;
          transform: translateY(-50%);
        }
        &-date {
          flex-direction: column;
          margin-right: 24px;
          padding: 6px 22px;
          background-color: $primary;
          color: $white;

          @include flex(space-between, center);
          .week {
            font-size: 15px;
          }
          .date {
            font-weight: bold;
            font-size: 30px;
          }
          .month {
            font-weight: bold;
            font-size: 16px;
          }
        }
        p {
          font-size: 16px;
          line-height: 25px;
          cursor: pointer;
        }
        &:hover > p {
          color: $primary;
        }
        &:hover > img {
          display: block;
        }
      }
    }
  }
}
