.feature {
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 64px;
  background-color: $white;
  &-body {
    margin: 0 auto;
    padding: 0 20px;
    width: min(100%, 1400px);

    @include flex(space-between, start);
    &_title {
      color: $black;
      font-weight: bold;
      font-size: 30px;
      span {
        color: $primary;
      }
    }
    &_subscript {
      font-size: 18px;
    }
    &_list {
      display: flex;
    }
    .rotation-in {
      &_0 {
        opacity: 0;
        transition: all 0.9s;
        transform: translateX(400%) rotate(360deg);
      }
      &_1 {
        opacity: 0;
        transition: all 1.2s;
        transform: translateX(300%) rotate(360deg);
      }
      &_2 {
        opacity: 0;
        transition: all 1.5s;
        transform: translateX(200%) rotate(360deg);
      }
      &_3 {
        opacity: 0;
        transition: all 1.8s;
        transform: translateX(100%) rotate(360deg);
      }
    }
    .rotation-in_0.active,
    .rotation-in_1.active,
    .rotation-in_2.active,
    .rotation-in_3.active {
      opacity: 1;
      transform: translateX(0) rotate(0);
    }
    &_item {
      position: relative;
      margin-right: 62px;
      &:last-child > &-bg {
        margin-right: 0;
      }
      &::after {
        position: absolute;
        top: 0;
        left: 100%;
        display: block;
        width: 60px;
        height: 50%;
        border-bottom: 1px solid #dddad3;
        content: '';
      }
      &-content {
        position: absolute;
        top: 65%;
        left: 50%;
        flex-direction: column;
        transform: translate(-50%, -50%);

        @include flex(center, center);
        p {
          font-size: 20px;
        }
      }
      &:nth-child(odd) &-bg {
        transform: rotate(180deg);
      }
      &:nth-child(even) &-content {
        top: 35%;
        flex-direction: column-reverse;
      }
      &:last-child {
        margin: 0;
        &::after {
          display: none;
        }
      }
      &:last-child &-content {
        transform: translate(-50%, -50%);
      }
    }
  }
}
