.feature {
  padding-top: 80px;
  padding-bottom: 64px;
  background-color: $white;
  &-body {
    @include flex(space-between, start);
    margin: 0 auto;
    width: 1400px;
    &_title {
      font-size: 30px;
      font-weight: bold;
      color: $black;
      span {
        color: $primary;
      }
    }
    &_subscript {
      font-size: 18px;
    }
    &_list {
      display: flex;
    }
    &_item {
      position: relative;
      margin-right: 62px;
      &:last-child > &-bg {
        margin-right: 0;
      }
      &::after {
        position: absolute;
        top: 0;
        left: 100%;
        display: block;
        width: 60px;
        height: 50%;
        content: '';
        border-bottom: 1px solid #dddad3;
      }
      &-content {
        position: absolute;
        top: 65%;
        left: 50%;
        @include flex(center, center);
        flex-direction: column;
        transform: translate(-50%, -50%);
        p {
          font-size: 20px;
        }
      }
      &-bar {
        width: 64px;
        height: 1px;
        border-radius: 1px solid #dddad3;
      }
      &:nth-child(odd) &-bg {
        transform: rotate(180deg);
      }
      &:nth-child(even) &-content {
        flex-direction: column-reverse;
        top: 35%;
      }
      &:last-child {
        margin: 0;
        &::after {
          display: none;
        }
      }
      &:last-child &-content {
        transform: translate(-50%, -50%);
      }
      &:last-child &-bar {
        display: none;
      }
    }
  }
}
