.ready {
  overflow: hidden;
  height: 460px;
  background: url('../image/footbanner.png') center center no-repeat;
  background-color: rgba($black, 0.6);
  background-attachment: fixed;
  background-size: cover;

  background-blend-mode: multiply;
  &-wrap {
    flex-direction: column;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    width: min(100%, 1400px);
    height: 100%;

    @include flex(center, start);
  }
  &-title {
    margin-bottom: 20px;
    &_text {
      color: $white;
      font-weight: bold;
      font-size: 30px;
      span {
        color: $primary;
      }
    }
    &_small {
      color: $white;
      font-size: 18px;
    }
  }
  &-content {
    width: 100%;

    @include flex(space-between, start);
    &_arrow {
      position: relative;
      margin-bottom: 12px;
      width: 210px;
      height: 10px;
      border-bottom: 1px solid $white;
      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        width: 30px;
        height: 10px;
        border-bottom: 1px solid $white;
        content: '';
        transform: rotate(30deg);
        transform-origin: right bottom;
      }
      & + p {
        text-align: right;
      }
    }
    p {
      color: $white;
      font-size: 16px;
    }
  }
}
