.reasons {
  padding: 54px 0 66px;
  background: url('../image/reasons-bg.png') no-repeat;
  background-size: cover;
  &-body {
    margin: 0 auto;
    padding: 0 20px;
    width: min(100%, 1400px);
    &_title {
      color: $black;
      text-align: center;
      font-weight: bold;
      font-size: 30px;
      span {
        color: $primary;
      }
    }
    &_subscript {
      text-align: center;
      font-size: 18px;
    }
    &-advantages {
      margin-top: 24px;
      margin-bottom: 20px;

      @include flex(space-between, start);
      &_box {
        position: relative;
        width: 32%;
        &-mask {
          position: absolute;
          top: 0;
          left: 0;
          display: none;
          width: 100%;
          height: 100%;
          background-color: rgba(#ea9700, 0.8);
        }
        &-text {
          position: absolute;
          bottom: 0;
          width: 100%;
          p {
            margin: 16px 26px;
            padding: 14px 0;
            background-color: $white;
            text-align: center;
            font-weight: bold;
            font-size: 22px;
            span {
              display: block;
              font-weight: normal;
              font-size: 18px;
            }
          }
        }
        &:hover > &-text {
          top: 50%;
          bottom: 0;
          transform: translateY(-25%);
          p {
            background-color: transparent;
            color: $white;
          }
        }
        &:hover > &-mask {
          display: block;
        }
      }
      .slide-0,
      .slide-1,
      .slide-2 {
        opacity: 0;
        transform: translateY(50%);
      }
      .slide-0 {
        transition: all 0.5s;
      }
      .slide-1 {
        transition: all 1s;
      }
      .slide-2 {
        transition: all 1.5s;
      }

      .slide-0.active,
      .slide-1.active,
      .slide-2.active {
        opacity: 1;
        transform: translateY(0%);
      }
    }
    &_button-more {
      margin-bottom: 48px;

      @include flex(center, center);
    }
    &_alumni {
      display: grid;
      margin-bottom: 12px;
      padding-bottom: 4px;
      border-bottom: 2px solid #ea9700;

      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 14px;
      &-btn {
        border-color: #383838;
        background-color: #383838;
        color: white;
        font-size: 20px;
        cursor: pointer;
        &.active,
        &:hover {
          border-color: #ea9700;
          background-color: #ea9700;
        }
      }
    }
    &_news {
      margin-bottom: 20px;
      font-size: 18px;
      li {
        padding: 12px 58px;
        border-bottom: 1px solid #ababab;
        font-weight: bold;
        span:first-child {
          display: inline-block;
          margin-right: 32px;
        }
      }
    }
  }
}
