.footer {
  background-color: #383838;
  &-body {
    width: 1400px;
    margin: 0 auto;
    padding: 56px 0 24px 0;
    display: flex;
    &_router {
      flex: 3;
      display: flex;
      ul {
        width: 33.3%;
        li {
          max-width: 190px;
          margin-bottom: 10px;
          padding-right: 20px;
          font-size: 15px;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $white;
          white-space: nowrap;
          &.first {
            font-size: 18px;
            font-weight: bold;
          }
          &:not(:first-child):hover > span {
            color: $primary;
            cursor: pointer;
          }
        }
      }
    }
    &_logo {
      margin: 0 80px;
      ul {
        margin-top: 28px;
        @include flex(space-around, center);
      }
      li {
        width: 28px;
        height: 28px;
        cursor: pointer;
      }
      &-fb {
        background-image: url('../../assets/image/icon_fb.png');
        &:hover {
          background-image: url('../../assets/image/icon_fb-active.png');
        }
      }
      &-yt {
        background-image: url('../../assets/image/icon_yt.png');
        &:hover {
          background-image: url('../../assets/image/icon_yt-active.png');
        }
      }
      &-ig {
        background-image: url('../../assets/image/icon_ig.png');
        &:hover {
          background-image: url('../../assets/image/icon_ig-active.png');
        }
      }
    }
    &_contact {
      flex: 2;
      p {
        margin-bottom: 10px;
        font-size: 15px;
        color: $white;
      }
      &-search {
        position: relative;
        &::after {
          position: absolute;
          display: block;
          top: 12px;
          right: 12px;
          width: 18px;
          height: 18px;
          content: '';
          background: url('../../assets/image/icon_search.png') no-repeat;
        }
        input[type='text'] {
          width: 100%;
          height: 44px;
          color: $white;
          background-color: transparent;
          border-color: $white;
          &:focus,
          &:active {
            outline: $white;
          }
        }
      }
    }
    &_accessibility {
      padding: 10px 0;
      background-color: #2c2c2c;
      &-body {
        @include flex(flex-end, center);
        width: 1400px;
        margin: 0 auto;
        p {
          margin-right: 40px;
          font-size: 14px;
          color: #979797;
        }
      }
    }
  }
}
