.navbar {
  width: 100%;
  background-color: $primary;
  &-wrap {
    margin: 0 auto;
    padding: 12px 20px;
    width: min(100%, 1400px);

    @include flex(space-between, center);
    &-navigation {
      display: flex;
      li {
        a {
          padding: 10px 0;
          color: $white;
          line-height: 1rem;
          cursor: pointer;
          span {
            padding: 0 10px;
            border-right: 1px solid $white;
          }
        }
        &:last-child > a span {
          border: 0;
        }
      }
    }
  }
}
